
body{
	font-family: 'Exo', sans-serif;
}
body,a,div,nav,ul,li,p,h1,h2,h3,h4,h5,h6{
	margin: 0px;
	padding: 0px;
}

nav{
	background-color: rgba(255,255,255,.80);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 20px 0px;
	z-index: 999;

}

nav ul{
	list-style: none;
	text-align: center;
}

nav .logo{
	position: absolute;
	top: 0px;
	left: 50px;

}
nav .logo img{
	width: 150px;
	height: 150px;

}

nav ul li{
	display: inline-block;
}
nav ul li a{
	display: block;
	color:black;
	font-size: 18px;
	padding: 8px;
	text-decoration: none;
	transition: .5s;
}

nav ul li:hover a{
	text-decoration: none;
	color: #DF7E1B;
}
ul li a.active{
	color:#FFA900;
}
/*Banner area*/
.banner-area{
	overflow: hidden;
	padding: 250px 0px 100px 0px;
	background-position: 40% 30%;
	background-repeat: no-repeat;
}

.banner-content{
	background-color: rgba(0,0,0,.5);
	color:white;
	width: 50%;
	margin: auto;
	padding: 50px;
}


.banner-content-text h1{
	
	font-weight: bold;
	margin-bottom: 10px;
}
.banner-content-text p{
	margin-bottom: 5px;
}

.learn-more button:last-child{
	border: 1px solid transparent;
	padding: 5px 6px;
	outline: none;
	border-radius: 3px;

}

/*offer area*/

.offer-area{
	padding: 60px 0px;
}
.header-text{
	text-align: center;
}
.header-text h1{
	text-transform: uppercase;
}

.offer-content{
	
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	margin-top: 40px;
	text-align: center;
	padding: 70px 0px;
	z-index: -1;
	margin-bottom: 8px;

}
.offer-content-area a:hover{
	text-decoration: none;
}

.shadow{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	content: '';
	box-shadow: inset 2px 2px 30px 0px rgba(0,1,1,.47);
	
}

.offer-content h4{
	color: black;
	
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 8px;
}
.offer-content p{
	color: black;

}

/*Our area*/

.our-area{
	padding: 60px 0px;
	position: relative;
	background-image: url('../../asserts/images/who.jpg');
	background-position: center;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;

}
.owl-carousel{
	margin-top: 20px;
	color:black;

		
}

.owl-carousel .item{
	margin-right: 20px;
	background-color: white;
	height: 100%;
	padding: 20px;	
	width: 100%;

}
.owl-carousel .item h1{
	color: black;
	text-transform: uppercase;
	text-align: center;
	padding: 8px 0px 35px 0px;

}
.owl-carousel .item p{
	text-align: justify;
	width: 80%;
	margin: auto;

}

/*owl coursel next prev*/
.owl-controls{

}
.owl-nav:after{
	clear: both;
	display: block;
	content: '';
}
.owl-prev{
	float: left;
	background-color: #FFA900;
	color:white;
	padding: 10px;
	margin-left: 20px;
	border-radius:40px 0px 0px 40px; 
	cursor: pointer;

}
.owl-prev span{
	text-align: center;

	
}

.owl-next{
	float: right;
	background-color: #FFA900;
	color:white;
	padding: 10px;
	margin-right: 20px;
	border-radius:0px 40px 40px 0px; 
	cursor: pointer;
}

.owl-nav{
	position: absolute;
	top: 50%;
	left: 0px;
	color:red;
	width: 100%;

}

/*cliant-area*/
.our-client-area{
	padding: 60px 0px;
}
.our-client-area .header-text{
	margin-bottom: 40px;
}

.our-cleaint{

}

.client-full-width:after{
	content: '';
	display: block;
	clear: both;

}
.client-full-width{
	width: 100%;
	background-color: #EDEDED;
	color: black;
	padding: 30px;

}

.client-full-width-left{
	width: 29%;
	float: left;
	margin-right: 10px;



}
.client-full-width-left h2{
	margin-bottom: 20px;
	text-align: center;

}
.client-full-width-left .img{
	width: 100%;
	height: 300px;
	margin-bottom: 10px;


}
.client-full-width-left .img img{
	width: 100%;
	height: 100%;
}

.client-full-width-right{
	width: 69%;
	float: left;
	border: 1px solid white;
	margin-top: 67px;
	padding: 60px 30px;

}
.client-full-width-right p:before{
	font-family: FontAwesome;
	content: "\f10d";
	font-weight: bold;
	font-size: 30px;
	color: white;
	margin-right: 5px;
	display: block;

}
.client-full-width-right p:after{
	font-family: FontAwesome;
	content: "\f10e";
	font-weight: bold;
	font-size: 30px;
	color: white;
	margin-left: 5px;
	display: block;

}

/*Blog area*/

.blog-area{

	padding: 60px 0px;
}
.blog-img{

/*	box-shadow: inset 2px 2px 30px 0px rgba(0,1,1,.47);
	position: relative;
	

	*/
}
.blog-bgc{
	background-color: #F3F3F3;
	margin-bottom: 30px;

}
.blog-left{

	box-shadow: inset 2px 2px 30px 0px rgba(0,1,1,.47);
	position: relative;
	background-repeat: no-repeat;
	background-position: 0 0;
	-webkit-background-size: contain;
	background-size: auto;


	

}
.blog-left:after{
	position: absolute;
	content: '';
	width: 0px;
	height: 0px;

	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;

	border-right: 15px solid #F3F3F3;
	top: 42%;
	right: 0px;	
}


.blog-img{
	width: 100%;
	height: 100%;
}
.blog-img img{
	width: 100%;
	height: 100%;
}



.blog-right{
	background-color: #F3F3F3;

}

.blog-content-area{


}
.blog-content{
	padding: 30px 20px;
}

.blog-content p:first-of-type{
	text-transform: uppercase;
	margin-bottom: 10px;
	
}
.blog-content >h3 a{
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
	color: black;

	
}
.blog-content > h3+p{
	margin-bottom: 10px;
}



.blog-content p:first-of-type:before{
	content: '\f061';
	font-family: 'FontAwesome';
	margin-right: 5px;
	background-color: #B1B1B1;
	padding: 5px;
	border-radius: 50%;
	color: white;
	font-size: 11px;

}

.content-extra-area{
	width: 100%;

}
.content-extra-area:after{
	content: '';
	clear: both;
	display: block;
}
.blog-learn-more{
	float: left;
	width: 20%;

}
.content-share{
	float: left;
	width: 50%;
	margin-top: 5px;
}



.content-share:after{
	content: '';
	clear: both;
	display: block;
}

.content-share > strong{

	 float: left;
	 margin-right: 10px;
	 text-transform: uppercase;

	

}
.content-share > ul{

	list-style: none;
	text-align: center;

	float: left;

}
.content-share > ul li{
	display: inline-block;
}
.content-share > ul li a{
	
	color: #AFAFAF;

}

.pagination{
	width: 30%;
	margin: auto;
}
ul.pagination li{

}
ul.pagination li a{
	color: black;
}
.page-item.active .page-link{
	background-color: black;
	color: white;
	border:1px solid transparent;
}
.page-link:focus, .page-link:hover{
	color: black;
}

/*Contact us page*/
.contact-heder-text{
	padding: 30px 0px;
}

.contact-area{
	padding: 50px 0px;
	background-color: #EDEDED;
}
.contact-main-area{
	margin-bottom: 40px;
}
.contact-content{
	background-color: white;
	padding: 20px;
	transition: .5s;
}

.contact-content:hover{
	box-shadow: 0px 1px 10px black;
}

.contact-content h3{
	margin-bottom: 16px;
}

/*About page area*/

.about-page-title{

	padding: 50px 0px;
}
.about-page-title .header-text h1{
	margin-bottom: 8px;
}

.about-page-area{
	overflow: hidden;



}

.about-page button{
	background-color: #FFA900;
	border: 1px solid transparent;

}
.about-page button:hover{
	background-color: #FFA900;
	border: 1px solid transparent;
}
.about-row-rapping{

	-webkit-background-size: cover;
	background-size: cover;
	padding: 90px 0px;
	background-position: left center;


}

.about-page-content{
	color:white;
	margin-bottom: 10px;

}
.about-page-content h2{

	font-size: 30px;
	margin-bottom: 20px;
	text-transform: uppercase;
	border-bottom-width:1px;
	border-bottom-style: solid;
	border-bottom-color: white;
}


/*Result page area*/

.result-area{

	padding: 60px 0px;
	background-color: #EDEDED;
}



.result{

	margin-top: 20px;
}

.result-content-area{

	border: 1px solid #E6E6E6;
	background-color: white;
	padding: 20px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.result-content{

}
.result-content h5{

	text-align: center;
	margin-bottom: 15px;

}


.result-content-right-widgets{
	

}
.result-content-right{
	padding: 20px 0px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.result-content-right-widgets .result-content-right:nth-child(1) {
	padding-top: 0px;
}

.result-content-right h5{
	margin-bottom: 10px;
	text-transform: uppercase;


	
}
.result-content-right ul{
	list-style: none;
}
.result-content-right ul li{

	
}
.result-content-right ul li:nth-last-child(1) a{
	border-bottom: 1px solid transparent;	
}

.result-content-right ul li a{
	color: black;
	text-decoration: none;
	border-bottom: 1px solid rgba(0,0,0,0.1);

	padding: 5px;
	display: block;
	margin-bottom: 5px;
}

.result-img{
	width: 80%;
	margin: auto;

}

.result-img img{
	width: 100%;
	height: 100%;
	margin-top: 30px;
	margin-bottom: 30px;


}

.video{
	margin-top: 20px;
	width: 100%;
	height: 300px;


}
.video iframe{
	width: 100%;
	height: 100%;
}






















/*Footer area*/

footer{
	padding: 50px 0px;


}
.footer-contact-area form{

}

.footer-title h1{	
	text-align: center;
	margin-bottom: 20px;
}
.footer-title p{	
	margin-bottom: 40px;
	text-align: center;
}

.input-top input{
	width: 100%;
	outline: none;
	padding: 10px 8px;
	margin-bottom: 15px;
	background-color: #ededed;
	border:0px;
	box-shadow: 0px 1px 2px rgba(0,0,0,.1) inset;
}

.input-bottom textarea{
	width: 100%;
	height: 100px;
	outline: none;
	padding-top:9px; 
	padding-left:9px; 
	border: 0px;
	background-color: #ededed;
	box-shadow: 0px 1px 2px rgba(0,0,0,.1) inset;	
}
.input-bottom input[type="submit"]{
	border: 0px;
	display: block;
	height: 100%;
	width: 100% !important;
	background-image: url('../../asserts/images/envelope.png');
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 10px;
	background-color: #DF7E18;
	text-indent: -999em;
	border-radius: 10px;
	cursor: pointer;
	outline: none;

}

/*copy right text*/
.copyright-text{
	text-align: center;
	padding: 20px;

	margin-top: 10px;
}
.copyright-text p span{
	
	color: #FFA900;
}


